*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
color:white;
}

.sideBar_container{
    background-color: #270F33;
    height: 100vh;
    padding: 20px;
}